server {
    listen 80;
    server_name agibusiness.co.za;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name agibusiness.co.za;

    ssl_certificate /etc/letsencrypt/live/agibusiness.co.za/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/agibusiness.co.za/privkey.pem;

    location / {
        proxy_pass http://localhost:8000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location /static/ {
        alias /var/www/agibusiness/static/;
        expires 365d;
    }

    # Anti-DDOS
    limit_req zone=one burst=10 nodelay;
    client_max_body_size 10M;
}
